# /etc/systemd/system/plexdrive.service

[Unit]
Description=plexdrive
After=network-online.target
AssertPathIsDirectory=/mnt/plexdrive

[Service]
Type=notify
Restart=always
RestartSec=1
User=xxxxxxx
TimeoutStartSec=400
ExecStart=/usr/bin/plexdrive mount --drive-id=xxxxxxx -o allow_other -v 4 --chunk-check-threads=12 --chunk-load-threads=12 --chunk-load-ahead=3 --max-chunks=256 --refresh-interval=1m /mnt/plexdrive
ExecStopPost=/usr/bin/fusermount -quz /mnt/plexdrive

[Install]
WantedBy=multi-user.target
